<!doctype html>
<html lang="en">

<head>
  <title>Netlify Functions Examples</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono" rel="stylesheet">
  <link href="/normalize.css" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
</head>

<body>
  <h1>Netlify Functions Examples</h1>
  <p>
    Hi there! This is a playground to test out
    <a href="https://www.netlify.com/docs/functions">Netlify’s Lambda Functions</a>.
  </p>

  <article>
    <h2>Hello, World!</h2>
    <p>The inevitable Hello World example.</p>
    <pre class="language-js"><code><%= require('html-loader!./lambda/hello.js') %></code></pre>
    <h3>Try it out</h3>
    <p><a href="/.netlify/functions/hello">Say hello!</a></p>
  </article>


  <article>
    <h2>Search Engine</h2>
    <p>Automatically picks the search engine based on query and client IP.</p>
    <pre class="language-js"><code><%= require('html-loader!./lambda/search.js') %></code></pre>
    <h3>Try it out</h3>
    <form action="/.netlify/functions/search" method="GET">
      <p>
        <label>What’s your query?<br /><input type="search" name="q"></label>
      </p>
      <p><button type="submit">Search</button></p>
    </form>
  </article>
  </article>

  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.14.0/prism.min.js"></script>
  <script src="main.js"></script>
</body>

</html>